<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sunghyun.batch.infrastructure.mapper.PlabNotiMapper">
    <select id="getPlabMatches" resultType="com.sunghyun.batch.dto.PlabMatchDto">
        SELECT
            match_no,
            plab_match_no,
            stadium_name,
            stadium_no,
            match_dt,
            match_tm,
            current_player_cnt,
            sub_type
        FROM plab_match
        WHERE STR_TO_DATE(CONCAT(match_dt, match_tm), '%Y%m%d%H%i%s') >= NOW()
        ORDER BY match_dt ASC, match_tm ASC
    </select>

    <select id="sync" resultType="com.sunghyun.batch.dto.PlabMatchDto">
        UPDATE plab_match
        SET
            current_player_cnt = #{currentPlayerCnt},
            sub_type = #{subType, typeHandler=org.apache.ibatis.type.EnumTypeHandler}
        WHERE match_no = #{matchNo}
    </select>

    <select id="findNotificationTargets" resultType="com.sunghyun.batch.dto.NotificationTargetDto">
        SELECT
        s.subscription_no,
        m.plab_match_no,
        s.member_no,
        s.email,

        m.stadium_name,
        m.match_dt,
        m.match_tm,

        s.noti_type,
        s.noti_value,
        m.current_player_cnt,
        m.sub_type as currentSubType
        FROM match_subscription s
        JOIN plab_match m ON s.plab_match_no = m.plab_match_no
        WHERE
        <foreach collection="updatedMatchList" item="e" separator="OR">
            (
                s.plab_match_no = #{e.plabMatchNo}
                AND s.noti_type = #{e.notiType}
            )
        </foreach>
    </select>

    <insert id="insertNotiHistory" parameterType="com.sunghyun.batch.dto.NotiHistoryDto">
        INSERT INTO noti_history (
            subscription_no,
            member_no,
            email,
            noti_type,
            noti_setting,
            send_dt,
            send_tm
        ) VALUES (
            #{subscriptionNo},
            #{memberNo},
            #{email},
            #{notiType},
            #{notiValue},
            #{sendDt},
            #{sendTm}
        )
    </insert>
</mapper>